body {
    font-family: system-ui, sans-serif;
}

table td {
    vertical-align: middle;
}

.btn-warning {
    font-weight: bold;
}

/* Loader */
.loader-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader-container.hidden {
    opacity: 0;
    pointer-events: none;
}