{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Analytics Dashboard</h1>
</div>

<!-- SUMMARY CARDS -->
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center h-100">
            <i class="bi bi-wallet2" style="font-size: 36px;"></i>
            <h6>Total Spent</h6>
            <h3>{{ total }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center h-100">
            <i class="bi bi-calendar3" style="font-size: 36px;"></i>
            <h6>This Month</h6>
            <h3>{{ monthly_total }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center h-100">
            <i class="bi bi-pie-chart" style="font-size: 36px;"></i>
            <h6>Top Category</h6>
            <h3>{{ top_category }}</h3>
        </div>
    </div>
</div>


<!-- Bar Chart -->
<div class="card shadow-sm p-4 mb-4">
    <h4 class="text-center">Monthly Spending Trend</h4>
    <canvas id="barChart" style="max-height: 350px;"></canvas>
</div>

<!-- Line Chart -->
<div class="card shadow-sm p-4 mb-4">
    <h4 class="text-center">Daily Expense Trend</h4>
    <canvas id="lineChart" style="max-height: 350px;"></canvas>
</div>

<!-- Category pie chart -->
<div class="card shadow-sm p-4 mb-4">
    <h4 class="text-center">Spending by Category</h4>
    <canvas id="categoryChart" style="max-height: 350px;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Monthly Bar Chart
    new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: {
            labels: {{ months| tojson }},
        datasets: [{
            label: "Total Spent",
            data: {{ month_totals| tojson }},
        borderWidth: 1
        }]
    }
});

    // Daily Line Chart
    new Chart(document.getElementById('lineChart'), {
        type: 'line',
        data: {
            labels: {{ days| tojson }},
        datasets: [{
            label: "Daily Spending",
            data: {{ day_totals| tojson }},
        borderWidth: 1,
        fill: false
        }]
    }
});

    // Category Pie Chart
    new Chart(document.getElementById('categoryChart'), {
        type: 'pie',
        data: {
            labels: {{ labels| tojson }},
        datasets: [{
            data: {{ values| tojson }},
        borderWidth: 1
        }]
    }
});
</script>

{% endblock %}